apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg-helm-release
  namespace: flux-system
spec:
  interval: 15m
  timeout: 5m
  chart:
    spec:
      chart: https://github.com/cloudnative-pg/charts/tree/main/charts/cloudnative-pg
      version: '0.27.*'
      sourceRef:
        kind: GitRepository
        name: flux-system
      interval: 5m
  releaseName: cnpg-release
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  test:
    enable: true
  driftDetection:
    mode: enabled