apiVersion: v1
kind: Service
metadata:
  name: task-management-service
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app: {{ .Values.labels.app }}
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080