apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: task-management-ingress
  namespace: {{ .Values.namespace }}
spec:
  ingressClassName: traefik
  rules:
  {{- range .Values.ingress.rules }}
    - host: {{ .host }}
      http:
        paths:
        {{- range .http.paths }}
          - path: {{ .path }}
            pathType: Prefix
            backend:
              service:
                name: {{ .backend.service.name }}
                port:
                  number: 8080
        {{- end }}
  {{- end }}
