<form [formGroup]="workItemForm" class="container" [ngClass]="{'spinner-wrapper': isLoading}">
  @if (isLoading) {
    <div class="spinner spinner-border text-secondary" role="status">
      <span class="visually-hidden"></span>
    </div>
  }
  <fa-icon class="fa-xmark-icon" [icon]="faXmark" (click)="close()"></fa-icon>
  <div class="row mb-2">
    <div class="col">
      <div class="d-flex flex-column gap-2">
        <div class="d-flex align-items-center gap-2">
          @if (data.isEditMode) {
            <app-work-item-type [workItemType]="workItem.type"/>
            <span class="title d-flex align-items-center">
              {{workItemTitle}} {{workItem.workItemNumber}}
            </span>
          }
          @else {
            <app-work-item-type [workItemType]="workItem.type"/>
            <span class="new-work-item-title">
              New {{workItemTitle}}
            </span>
          }
        </div>
        <input type="text" class="max-width-200 title" [value]="workItem.title" formControlName="title"/>
        <div class="d-flex gap-2 second-row-container justify-content-between">
          <div class="d-flex flex-column gap-2">
            <select
              class="form-select"
              aria-label="Work Item Type Select"
              formControlName="workItemType">
                <option [ngValue]="WorkItemType.Bug">Bug</option>
                <option [ngValue]="WorkItemType.UserStory">User Story</option>
                <option [ngValue]="WorkItemType.Task">Task</option>
            </select>
            <select
              class="form-select"
              aria-label="Work Item Status Select"
              formControlName="workItemStatus">
              <option [ngValue]="WorkItemStatus.New">New</option>
              <option [ngValue]="WorkItemStatus.InProgress">In Progress</option>
              <option [ngValue]="WorkItemStatus.Resolved">Resolved</option>
              <option [ngValue]="WorkItemStatus.Unresolved">Unresolved</option>
              <option [ngValue]="WorkItemStatus.Closed">Closed</option>
            </select>
            <select
              class="form-select max-width-200"
              aria-label="Assigned To Select"
              formControlName="userId">
              @for(user of users; track user.id) {
                <option [ngValue]="user.id">
                  {{ user.firstName + ' ' + user.lastName }}
                </option>
              }
            </select>
          </div>
          <div class="d-flex flex-column gap-2 align-items-end">
            <div class="d-flex align-items-center gap-2">
              <span>Priority</span>
              <select
                class="form-select form-select-small"
                aria-label="Priority Select"
                formControlName="priority">
                @for (p of [1, 2, 3, 4]; track p) {
                  <option [ngValue]="p">
                    {{ p }}
                  </option>
                }
              </select>
            </div>
            <div class="d-flex align-items-center gap-2">
              <span>Severity</span>
              <select
                class="form-select form-select-small"
                aria-label="Severity Select"
                formControlName="severity">
                @for (p of [1, 2, 3, 4]; track p) {
                  <option [ngValue]="p">
                    {{ p }}
                  </option>
                }
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="mt-2 mb-2 d-flex flex-column">
        <span class="description-title">Description</span>
        <textarea class="description" formControlName="description"></textarea>
      </div>
<!--      <div class="mt-2 mb-2 d-flex flex-column">-->
<!--        <span>Discussion</span>-->
<!--        <textarea class="discussion"></textarea>-->
<!--      </div>-->
    </div>
  </div>
  <div class="d-flex">
    <button (click)="onSaveClick($event)" type="button" class="btn btn-primary ms-auto">Save</button>
  </div>
</form>
