<div class="right-aligned-container">
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input
      type="search"
      class="form-control"
      placeholder="Search..."
      aria-label="Search"
    />
  </form>
  <button (click)="createWorkItemClicked($event)" type="button" class="btn btn-primary">New Work Item</button>
  <button (click)="onDeleteSelectedClick($event)" type="button" class="btn btn-danger">Delete</button>
</div>
<table class="main-table table table-striped"[ngClass]="{'spinner-wrapper': isLoading}">
  @if (isLoading) {
    <div class="spinner spinner-border text-secondary" role="status">
      <span class="visually-hidden"></span>
    </div>
  }
  <thead>
  <tr>
    <th (click)="selectAllWorkItems()" class="row-header select-all" scope="col" title="Select all"></th>
    <th scope="col">Title</th>
    <th scope="col">Assigned To</th>
    <th scope="col">Status</th>
    <th scope="col">Last Updated At</th>
  </tr>
  </thead>
  <tbody>
    @for (workItem of workItems; track workItem.id; let idx = $index) {
      <tr title="Select" class="selectable-row" (click)="selectWorkItem(workItem.id)" [class.selected]="selectedWorkItems.includes(workItem.id)">
        <th class="row-header" scope="row">
          <app-work-item-type [workItemType]="workItem.type"/>
        </th>
        <td>
          <a href="" (click)="editWorkItemClicked(workItem.id, $event)">
            {{ workItem.title }}
          </a>
        </td>
        <td>{{ workItem.firstName + ' ' + workItem.lastName }}</td>
        <td><span [class]="getStatusClass(workItem.status)">{{ getStatusText(workItem.status) }}</span></td>
        <td>{{ workItem.updatedAt | date:'medium' }}</td>
      </tr>
    }
  </tbody>
</table>


