  html, body {
    height: 100vh;
    margin: 0;
  }

  .auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .auth-form-container > form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }

  .linkable:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .pointer:hover {
    cursor: pointer;
  }

  .spinner-wrapper {
    background-color: #C9C9C9;
    opacity: 0.4;
    position: relative;
  }

  .spinner-wrapper,
  .spinner-wrapper * {
    cursor: default !important;
    pointer-events: none !important;
  }

  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%) translateY(-50%);
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
  }

  .password-wrapper {
    position: relative;
  }

  .eye-icon {
    color: #bac0ca;
    cursor: pointer;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 50px;
  }

  .in-progress-status {
    color: #229ce0;
  }

  .resolved-status {
    color: #016b16;
  }

  .unresolved-status {
    color: #bf4143;
  }

  .closed-status {
    color: #6c757d;
  }
